.footer {
    background: #000;
    color: #fff;
    padding: 48px;
    padding-bottom: 66px;
}

.footer__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer__logo {
    /* margin-bottom: 35px; */
}

.footer__logo-text {
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #FFFFFF;
    margin: 32px 0 44px 0;
    font-family: 'Inter', serif;
}

.footer__divider {
    margin-left: 6px;
    height: 2px;
    background: #FFFFFF;
    margin-bottom: 18px;
    max-width: 1280px;
}

.footer__content {
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 48px;
    max-width: 1280px;
    padding-left: 27px;
    display: flex;
}

.footer__title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 331px;
}

.footer__contact {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.footer__icon {
    font-size: 16px;
}

.footer__text {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    margin:0;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer__item {
}

.footer__link {
    font-size: 16spx;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s;
    margin: 0;
}

.footer__link:hover {
    color: #fff;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.footer__column--newsletter {
    margin-left: 48px;
    padding: 14px 14px 14px 14px;
    max-width: 304px;
    max-height: 184px;
    background-color: #131313;
    box-sizing: border-box;
    border-radius: 10px;
}
.footer__column--newsletter .footer__title {
    margin-top: 0;
    margin-bottom: 29px;
}
.footer__column--newsletter-form {
    display: flex;
}

.footer__input {
    width: 100%;
    padding: 10px 16px;
    background: #1E1E1E;
    border: 1px solid #1E1E1E;
    /* border-radius: 4px; */
    font-size: 14px;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
    padding-top: 9px;
}

.footer__input::placeholder {
    color: #52525b;
    font-size: 11px;
    font-family: Poppins, sans-serif;
    margin-left: -5px;
}

.footer__input:focus {
    outline: none;
    border-color: #3f3f46;
}

.footer__button {
    max-width: 105px;
    width: 100%;
    padding: 10px 16px;
    background: #000;
    color:  #fff;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    font-family: Poppins, sans-serif;
}

.footer__button:hover {
    background: #f3f4f6;
}

.footer__note {
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    line-height: 1.45;
    margin: 0;
    font-family: "Manrope", sans-serif;
    /* display: flex;
    gap: 7px; */
    font-weight: 500;
}
.footer-links-container {
    display: flex;
    gap: 60px;
}
.footer__content-mobile {
    display: none;
}

@media(max-width: 768px) {
    .footer__content {
        display: none;
    }
    
    .footer__content-mobile {
        display: grid;
        padding-left: 0;
        grid-template-columns: 1.5fr 1fr;
        row-gap: 20px;
    }

    .footer__text {
        font-size: 12px;
    }
    .footer__link {
        font-size: 12px;
    }
    .footer__title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .footer {
        padding: 20px;
    }
    .footer__column--newsletter {
        margin: 0;
        margin-top: 42px;
        max-width: 320px;
    }
    .footer__contact {
        flex-direction: column;
        gap: 2px;
    }
    .footer__list {
        gap: 20px;
    }
    .footer__contacts {
        /* gap: 20px; */
        gap: 16px;
    }
    .footer__logo-text {
        margin: -1px 0px 19px 29px;
        letter-spacing: 1px;
    }
    .footer__list {
        gap: 13px;
    }
    .footer__column.right {
        display: flex;
        justify-content: flex-end;
    }
    .footer__column--newsletter .footer__title {
        margin-bottom: 24px;
    }
    .footer__column--newsletter-form {
        max-width: 277px;
    }
    .footer__note {
        max-width: 277px;
    }
    
}